body
{
	margin:0px;
	padding:0px;
	background: #f4efdd;
}

.page
{
	border-style:none;
	border-width:0px;
	width: 8.5in;
	height: 11in;
	margin-left: auto;
	margin-right: auto;
	margin-top: .25in;
	background: white;
	box-shadow: rgba(128, 128, 128, 0.31) 4px 4px 4px;
	padding: .25in;
}

.header
{
	-webkit-print-color-adjust:exact;
	background-color:black;
	color:white;
	font-family:Verdana;
	font-weight:bold;
	font-size:20pt;
	padding-left:.125in;
	padding-right:.125in;
	padding-top:.1in;
	padding-bottom:.1in;
}

.footer
{
	-webkit-print-color-adjust:exact;
	vertical-align:bottom;
	width:2.4in;
	height:2.75in;
	text-align:center;
	background-color:white
	color:black;
	font-family:Verdana;
	font-size:10pt;
	font-weight:bold;
	margin-left:.1in;
	background-color:#D0D0D0;
	padding:.125in;
}

.subheader
{
	background-color:white;
	color:black;
	text-align:center;
	font-family:Verdana;
	font-weight:bold;
	font-size:16pt;
	padding-top:.05in;
	padding-bottom:.05in;
	border-style:solid;
	border-width:1px;
}
span
{
	display:inline-block;
	vertical-align:top:
}
#a-head
{
	float:right;
	height:.7in;
	}

	.feedOuterBox
{
	-webkit-print-color-adjust:exact;
	background-color:#FFFFFF;
	background-repeat:repeat;
	border-style:none;
	border-width:0px;
}

.feedInnerBox
{
	width:2.75in;
	vertical-align:top;
}

.feedBackInnerBox
{
	width:2.75in;
}

.eventTime
{
	color:black;
	font-family:Verdana;
	font-weight:normal;
	font-size:8pt;
	/*padding-top:6px;*/
	padding-bottom:2px;
	vertical-align:top;
	text-align:center;
	letter-spacing:-1px;
  /*width:.575in !important;*/
  margin-left:.025in;
  margin-right:.025in;
}

.eventData
{
	/*width:75%;*/
	width:90%;
	margin-left:5%;
	padding-bottom:.0625in;
}

.eventHeader
{
	color:black;
	text-align:left;
	font-family:Verdana;
	font-weight:bold;
	font-size:9pt;
	padding-top:1px;
	width:100%;
}

.subEventHeader
{
	color:black;
	text-align:left;
	font-family:Verdana;
	font-weight:bold;
	font-size:8pt;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:.25;
	letter-spacing:-1px;
}

.eventBody
{
	color:black;
	text-align:justify;
	font-family:Verdana;
	font-weight:normal;
	font-size:8pt;
	padding-top:0px;
	padding-bottom:2px;
	letter-spacing:-1px;
}

#infoTable
{
	font-family:Verdana;
	border-style:none;
	border-collapse:collapse;
	border-width:0px;
	background-color:#D0D0D0;
	font-size:8pt;
	font-weight:bolder;
	text-align:left;
	width:2.75in;
	margin-bottom:.125in;
}

.siteListHeader
{
	border-bottom:3px solid black;
	width:100%;
	font-family:Verdana;
	font-size:10pt;
	font-weight:bold;
	font-style:italic;
	padding-top:5px;
}

.siteListSubHeader
{
	border-bottom:1.5px solid black;
	width:100%;
	font-family:Verdana;
	font-size:9pt;
	font-weight:400;
	font-style:italic;
	padding-top:5px;
}

.siteInfo
{
	font-family:Verdana;
	font-size:8pt;
	font-weight:bold;
	text-align:center;
	padding:4px;
	line-height:110%;
	vertical-align:middle;
}

.siteInfoBody
{
	font-family:Verdana;
	font-size:8pt;
	font-weight:normal;
	vertical-align:middle;
	text-align:center;
}

#eventDiv
{
	margin-left:.325in;
}

.hrstar
{
	text-align:center;
	border-bottom:thin solid black;
	border-top:thin solid black;
	margin-top:5px;
	font-size:12px;
}

sup
{
	color:black;
	font-family:Verdana;
	font-weight:normal;
	font-size:4pt;
}

u
{
	line-height:10pt;
}

a:link
{
	color:black;
	line-height:10pt;
}

a:visited
{
	color:black;
	line-height:10pt;
}

hr{
	height:1px;
	border:none;
	color:#000000;
	background-color:#000000;
    margin-top: .25em;
    margin-bottom: .25em;
}
#navbar{
	border-top: 2px solid rgba(37, 37, 37, 0.31);
	border-left: 2px solid rgba(37, 37, 37, 0.31);
	border-right: 0px solid black;
	border-bottom: 0px solid black;
	border-radius:5px;
	box-shadow: rgba(37, 37, 37, 0.31) 4px 3px 4px;
	position:fixed;
	top:0px;
	left:0px;
	padding:.25em;
	background-color:#E4E2DD;
	color:black;
	text-align:center;
	z-index:99;
}
#overflowbar{
	border-top: 2px solid rgba(37, 37, 37, 0.31);
	border-left: 2px solid rgba(37, 37, 37, 0.31);
	border-right: 0px solid black;
	border-bottom: 0px solid black;
	border-radius:5px;
	box-shadow: rgba(37, 37, 37, 0.31) 4px 3px 4px;
	padding:.25em;
	background-color:#E4E2DD;
	color:black;
	margin-top:2em;
	margin-bottom:2em;
	width:8in;
	margin-right:auto;
	margin-left:auto;
	z-index:99;
}
.navbutton{
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bold;
	display:block;
	border-style: groove;
	border-top-width: 0px;
	border-bottom-width: 0px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .25em;
	padding-bottom: .25em;
	width:10em;
	overflow:hidden;
}

.navbutton:hover{
	background-color:#b28000;
	box-shadow: none;
/*	border-top: 2px solid #b28000;
	border-left: 2px solid #b28000;
	border-right: 0px solid #b28000;
	border-bottom: 0px solid #b28000;*/
}
#dateDialog{
	display:none;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	border-top: 2px solid rgba(37, 37, 37, 0.31);
	border-left: 2px solid rgba(37, 37, 37, 0.31);
	border-right: 0px solid black;
	border-bottom: 0px solid black;
	box-shadow: rgba(37, 37, 37, 0.31) 4px 3px 4px;
	border-radius: 5px;
	margin-top:5px;
}
.ui-dialog,.ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, .foo, .ui-draggable, .ui-resizable {
background:#E4E2DD;
}

.loader{
	position:absolute;
	height:100%;
	width:100%;
	z-index:98;
	background:white;
	vertical-align:middle;
	text-align:center;
	border-style:none;
	border-width:0px;
	width: 8.5in;
	height: 11in;
	margin-left: auto;
	margin-right: auto;
}


@media print{
.dontprint
{
	display:none;
}
.page
{
	-webkit-print-color-adjust:exact;
	border-style:none;
	border-width:0px;
	width:8.5in;
	height:11in;
	margin:0in;
	/*padding:none;*/
	/*page-break-inside:avoid;*/
}
@page {
	size: letter portrait;
	margin:0in;
	padding: none;
}

}