body
{
  background:#f4efdd;
  margin:0;
  padding:0;
}

.page
{
  width:8.5in;
  height:11in;
  margin-left:auto;
  margin-right:auto;
  margin-top:.25in;
  background:#FFF;
  box-shadow:rgba(128,128,128,0.31) 4px 4px 4px;
  border-style:none;
  border-width:0;
  padding:.25in;
}

.header
{
  -webkit-print-color-adjust:exact;
  background-color:#000;
  color:#FFF;
  font-family:Verdana;
  font-weight:700;
  font-size:20pt;
  padding:.1in .125in;
}

.footer
{
  -webkit-print-color-adjust:exact;
  vertical-align:bottom;
  width:2.4in;
  height:2.75in;
  text-align:center;
  color:#000;
  font-family:Verdana;
  font-size:10pt;
  font-weight:700;
  margin-left:.1in;
  background-color:#D0D0D0;
  padding:.125in;
}

.subheader
{
  background-color:#FFF;
  color:#000;
  text-align:center;
  font-family:Verdana;
  font-weight:700;
  font-size:16pt;
  padding-top:.05in;
  padding-bottom:.05in;
  border-style:solid;
  border-width:1px;
}

span
{
  display:inline-block;
  vertical-align:top:;
}

#a-head
{
  float:right;
  height:.7in;
}

.feedOuterBox
{
  -webkit-print-color-adjust:exact;
  background-color:#FFF;
  background-repeat:repeat;
  border-style:none;
  border-width:0;
}

.feedInnerBox
{
  width:2.75in;
  vertical-align:top;
}

.feedBackInnerBox
{
  width:2.75in;
}

.eventTime
{
  color:#000;
  font-family:Verdana;
  font-weight:400;
  font-size:8pt;
  padding-bottom:2px;
  vertical-align:top;
  text-align:center;
  letter-spacing:-1px;
  margin-left:.025in;
  margin-right:.025in;
}

.eventData
{
  width:90%;
  margin-left:5%;
  padding-bottom:.0625in;
}

.eventHeader
{
  color:#000;
  text-align:left;
  font-family:Verdana;
  font-weight:700;
  font-size:9pt;
  padding-top:1px;
  margin-left:-2.5%;
  width:100%;
}

.subEventHeader
{
  color:#000;
  text-align:left;
  font-family:Verdana;
  font-weight:700;
  font-size:8pt;
  padding-top:1px;
  padding-bottom:1px;
  margin-left:.25;
  letter-spacing:-1px;
}

.eventBody
{
  color:#000;
  text-align:justify;
  font-family:Verdana;
  font-weight:400;
  font-size:8pt;
  padding-top:0;
  padding-bottom:2px;
  letter-spacing:-1px;
}

#infoTable
{
  font-family:Verdana;
  border-collapse:collapse;
  background-color:#D0D0D0;
  font-size:8pt;
  font-weight:bolder;
  text-align:left;
  width:2.75in;
  margin-bottom:.125in;
  border-style:none;
  border-width:0;
}

.siteListHeader
{
  border-bottom:3px solid #000;
  width:100%;
  font-family:Verdana;
  font-size:10pt;
  font-weight:700;
  font-style:italic;
  padding-top:5px;
}

.siteListSubHeader
{
  border-bottom:1.5px solid #000;
  width:100%;
  font-family:serif;
  font-size:12pt;
  font-weight:700;
  font-style:italic;
  padding-top:12px;
}

.siteInfo
{
  font-family:Verdana;
  font-size:8pt;
  font-weight:700;
  text-align:center;
  line-height:110%;
  vertical-align:middle;
  padding:4px;
}

.siteInfoBody
{
  font-family:Verdana;
  font-size:8pt;
  font-weight:400;
  vertical-align:middle;
  text-align:center;
}

#eventDiv
{
  margin-left:.325in;
}

.hrstar
{
  text-align:center;
  border-bottom:thin solid #000;
  border-top:thin solid #000;
  margin-top:5px;
  font-size:12px;
}

sup
{
  color:#000;
  font-family:Verdana;
  font-weight:400;
  font-size:4pt;
}

u
{
  line-height:10pt;
}

hr
{
  height:1px;
  border:none;
  color:#000;
  background-color:#000;
  margin-top:.25em;
  margin-bottom:.25em;
}

#navbar
{
  border-top:2px solid rgba(37,37,37,0.31);
  border-left:2px solid rgba(37,37,37,0.31);
  border-right:0 solid #000;
  border-bottom:0 solid #000;
  border-radius:5px;
  box-shadow:rgba(37,37,37,0.31) 4px 3px 4px;
  position:fixed;
  top:0;
  left:0;
  background-color:#E4E2DD;
  color:#000;
  text-align:center;
  z-index:99;
  padding:.25em;
}

#overflowbar
{
  border-top:2px solid rgba(37,37,37,0.31);
  border-left:2px solid rgba(37,37,37,0.31);
  border-right:0 solid #000;
  border-bottom:0 solid #000;
  border-radius:5px;
  box-shadow:rgba(37,37,37,0.31) 4px 3px 4px;
  background-color:#E4E2DD;
  color:#000;
  width:8in;
  z-index:99;
  margin:2em auto;
  padding:.25em;
}

.navbutton
{
  cursor:pointer;
  font-family:sans-serif;
  font-weight:700;
  display:block;
  border-top-width:0;
  border-bottom-width:0;
  width:10em;
  overflow:hidden;
  border-style:groove;
  margin:0;
  padding:.25em 1em;
}

.navbutton:hover
{
  background-color:#b28000;
  box-shadow:none;
}

#dateDialog
{
  display:none;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  border-top:2px solid rgba(37,37,37,0.31);
  border-left:2px solid rgba(37,37,37,0.31);
  border-right:0 solid #000;
  border-bottom:0 solid #000;
  box-shadow:rgba(37,37,37,0.31) 4px 3px 4px;
  border-radius:5px;
  margin-top:5px;
}

.ui-dialog,.ui-dialog,.ui-widget,.ui-widget-content,.ui-corner-all,.foo,.ui-draggable,.ui-resizable
{
  background:#E4E2DD;
}

.loader
{
  position:absolute;
  z-index:98;
  background:#FFF;
  vertical-align:middle;
  text-align:center;
  width:8.5in;
  height:11in;
  margin-left:auto;
  margin-right:auto;
  border-style:none;
  border-width:0;
}

li
{
  display:block;
}

.siteColLeft
{
  width:33%;
  vertical-align:middle;
  box-sizing:border-box;
  text-align:center;
}

.siteColLeft img
{
  max-width:85%;
}

.siteColRight
{
  width:66%;
  box-sizing:border-box;
}

.twoCol
{
  width:100%;
  box-sizing:border-box;
}

span.starRule
{
  width:90%;
  margin-left:5%;
  border-right:1in solid #000;
  border-left:1in solid #000;
  height:1px;
  box-sizing:border-box;
  text-align:center;
  position:relative;
  top:.125in;
  margin-top:.0625in;
}

span.starRule:after
{
  content:"\2605";
  height:.5em;
  position:relative;
  top:-8pt;
  font-size:12pt;
}

span.starSubRule
{
  width:33%;
  transform:translateX(100%);
  border-right:.3in solid #000;
  border-left:.3in solid #000;
  height:1px;
  box-sizing:border-box;
  text-align:center;
  margin-top:.125in;
}

span.starSubRule:after
{
  content:"\2605";
  height:.5em;
  position:relative;
  top:-8pt;
  font-size:8pt;
}

.column
{
  width:33%;
  vertical-align:top;
}

.siteColumn
{
  background:rgba(128,128,128,0.15);
  padding-left:4px;
  padding-right:4px;
  box-sizing:border-box;
  margin-top:.125in;
}

a:link,a:visited
{
  color:#000;
  line-height:10pt;
}

.front,.back
{
  height:9.25in;
}

.extra_event
{
  background-color:lightgrey;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}

@media print {
  .dontprint
  {
    display:none;
  }
  
  .page
  {
    -webkit-print-color-adjust:exact;
    width:8.5in;
    height:11in;
    border-style:none;
    border-width:0;
    margin:0;
  }
  
  @page
  {
    size:letter portrait;
    margin:0;
    padding:none;
  }
}